{% extends 'shop/basic.html' %}

{% block title %} Checkout {% endblock %}
{% block body %}
<div class="container">
        <div class="col my-4">
                <h2> Step -1 Checkout-Review your items</h2>
                <div  class="mt-4">
                        <ul class="list-group" id="items">

                              
                        </ul>
                        <nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item active" aria-current="page">Your Cart Total is
            Rs:<b><span id="totalprice"></span></b> Enter your details and place your order</li>
  </ol>
</nav>

                </div>
        </div>
        <div class="col my-4">
                <h2>Step-2 Enter your address and other details: </h2>
                <form class="row g-3"method="post" action="/shop/checkout/"> {% csrf_token %}
                        <input type="hidden" name="itemsjson" id="itemsjson">
                        <div class="col-md-6">
                                <label for="inputname" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" name="name"
                                       placeholder="Full Name">
                        </div>
                        <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Email</label>
                                <input type="email" class="form-control" id="Email" name="email" placeholder="Email">
                        </div>

                        <div class="col-12">
                                <label for="inputAddress" class="form-label">Address</label>
                                <input type="text" class="form-control" id="Address1" name="address1"
                                       placeholder="1234 Main St">
                        </div>
                        <div class="col-12">
                                <label for="inputAddress2" class="form-label">Address line 2</label>
                                <input type="text" class="form-control" id="Address2" name="address2"
                                       placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="col-md-6">
                                <label for="inputCity" class="form-label">City</label>
                                <input type="text" class="form-control" id="City" name="city">
                        </div>
                        <div class="col-md-4">
                                <label for="inputstate" class="form-label">Enter State</label>
                                 <input type="text" class="form-control" id="state" name="state" placeholder="state">
                        </div>
                        <div class="col-md-2">
                                <label for="inputZip" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="Zip" name="zip">
                        </div>
                        <div class="col">
                                <label for="inputZip" class="form-label">Enter Phone number</label>
                                <input type="tel" class="form-control" id="phone" name="phone">
                        </div>
                        <div class="col-12 my-2">
                                <button " type="submit" class="btn btn-primary">Place Order</button>
                        </div>
                </form>

        </div>


</div>

{% endblock %}
{% block js %}
<script>
        if(localStorage.getItem("cart")== null){
    var cart={};
    }
    else
    {
    cart=JSON.parse(localStorage.getItem("cart"));
   

    }
    console.log(cart);
    var sum=0;
    var totalprice=0;
    if ($.isEmptyObject(cart))
    {
          mystr=`<p>add items before you check out</p>
                                </li>`
             $('#items').append(mystr);

    }
    else
    {
    for(item in cart){
            let name=cart[item][1];
            let qty=cart[item][0];
            let itemprice=cart[item][2];
            sum=sum+qty;
            totalprice=totalprice+qty*itemprice
            mystr=`<li class="list-group-item d-flex justify-content-between align-items-center">
                                        ${name}
                                        <span class="badge bg-primary rounded-pill">${qty}</span>
                                </li>`
            $('#items').append(mystr);
     }
    }
    document.querySelector('#'+'cart').innerHTML=sum;
    document.querySelector('#'+'totalprice').innerHTML=totalprice;

   $('#itemsjson').val(JSON.stringify(cart));


       {% if thank %}
         alert('thanks for shopping with us.Your  orderid is {{id}} .Track your order using specified order id ')
         localStorage.clear();
         document.location="/shop";
      {% endif %}
     

     


    

</script>

  
{% endblock %}